SOUNDCLOUD_CLIENT_ID=your_client_id
SOUNDCLOUD_CLIENT_SECRET=your_client_secret
SOUNDCLOUD_ADMIN_ID=your_numeric_soundcloud_user_id
SOUNDCLOUD_REDIRECT_URI=http://127.0.0.1:41317/callback
FASTCLOUD_DOMAIN=api.example.com
